@import "~bootstrap";

body {
  background: rgb(97, 143, 241);
  background: -moz-linear-gradient(
    90deg,
    rgba(97, 143, 241, 1) 0%,
    rgba(200, 140, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(97, 143, 241, 1) 0%,
    rgba(200, 140, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(97, 143, 241, 1) 0%,
    rgba(200, 140, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#618ff1",endColorstr="#c88cff",GradientType=1);
}

.overlap {
  z-index: -100;
  position: relative;
  top: 20px;
}
